body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #2E2E2E, #111111); /* Gradiente de fundo escuro */
}

canvas {
  display: block;
  margin: auto;
  background: linear-gradient(90deg, #171717, #000000); /* Gradiente de fundo do canvas */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Sombra suave */
}

.message {
  font-family: 'Roboto', sans-serif; /* Fonte moderna */
  font-size: 18px;
  color: #fff; /* Cor do texto */
}

@media screen and (max-width: 600px) {
  canvas {
    font-size: 12px;
  }
  .message {
    font-size: 14px; /* Ajusta o tamanho do texto das mensagens */
  }
}
